<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Advice</title>
  <link href="css/style.css" rel="stylesheet">
</head>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Load common head content, including the favicon link -->
  {% include "./partials/head.html" ignore missing with context %}
</head>

<body>
  <!-- include navbar from partials -->
  {% include "./partials/nav.html" ignore missing with context %}

  <!-- Load common CSS and JS -->
  {% include "./partials/dependencies.html" ignore missing with context %}

  <h1>Advice</h1>
  <div class="alert alert-info" role="alert">
    <p>{{ data.slip.advice }}</p>
  </div>

  <script src="../static/js/script.js"></script>
</body>

</html>
